/* ///////////// Hero /////////// */

.hero-section {
  width: 100%;
  height: 100vh;
  max-height: 400px;
}
.hero-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 400px;
  background-image: url(../photos/movie-page/logo-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-section:after {
  content: "";
  position: absolute;
  bottom: -30;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  transform: rotate(-1deg);
  clip-path: polygon(0 0, 0 100%, 100% 92%, 100% 0);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
